[run]
branch = True
parallel = True
source =
    pyramid_googleauth
    tests/unit
    examples
omit =
    # Can't be bothered to write unit tests for the example app right now.
    # It is covered by the functests.
    examples/app.py

[paths]
source =
    src/
    */site-packages/

[report]
show_missing = True
precision = 2
fail_under = 100.00
